* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.auth-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

.primary-button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    background-color: #5a54d6;
}

.primary-button:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

p {
    font-size: 14px;
    color: #888;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.verification-form input {
    width: 100%;
    margin-bottom: 10px;
}

.verification-form button {
    width: 100%;
}

.auth-container div {
    margin-top: 20px;
}

.auth-container button {
    font-size: 14px;
    padding: 10px;
    background: none;
    border: none;
    background-color: #726eff;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.auth-container button:hover {
    color: white;
}

.loading-button {
    background-color: #cccccc;
    cursor: not-allowed;
}

.success-message {
    color: #28a745;
    font-weight: bold;
    margin-top: 15px;
}

.error-message {
    color: #dc3545;
    font-weight: bold;
    margin-top: 15px;
}